#directories
bower_components
node_modules
dist

#files
*.tgz
*.log
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/accessibility_test_runner/accessibility_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/application_test_runner/application_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/cpu_profiler_test_runner/cpu_profiler_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/data_grid_test_runner/data_grid_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/device_mode_test_runner/device_mode_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-horizontal-default-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-horizontal-default-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-horizontal-keyboard-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-horizontal-keyboard-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-horizontal-navigation-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-horizontal-navigation-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-vertical-default-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-vertical-default-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-vertical-keyboard-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-vertical-keyboard-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-vertical-navigation-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5-vertical-navigation-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-horizontal-default-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-horizontal-default-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-horizontal-keyboard-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-horizontal-keyboard-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-horizontal-navigation-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-horizontal-navigation-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-vertical-default-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-vertical-default-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-vertical-keyboard-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-vertical-keyboard-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-vertical-navigation-1x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/emulated_devices/google-nexus-5x-vertical-navigation-2x.png
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/extensions_test_runner/extensions_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/heap_profiler_test_runner/heap_profiler_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/performance_test_runner/performance_test_runner_module.js
Interfaz/release-builds/electron-tutorial-app-win32-ia32/resources/inspector/product_registry_impl/product_registry_impl_module.js
